@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

body {
    background-color: #001f3f;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(231, 231, 219);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.selected {
    background-color: rgb(238, 235, 63);
    border-radius: 15px;
}

@media (max-width: 600px) {
    .toggle-button {
      display: flex;
      margin-top: 1rem;
    }
    
    .navbar-links {
      display: none;
      width: 100%;
    }
    
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
    
    .navbar-links li {
      text-align: center;
    }
    
    .navbar-links li a {
      padding: .5rem 1rem;
    }
    
    .navbar-links.active {
      display: flex;
    }

    .brand-title {
        margin-top: 1.8rem;
    }
  }

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 20px 0;
    
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 100%;
    width: 1020px;
}

.aboutMe {
    text-align: left;
    margin: 0 20px;
}

.myImg {
    width: 100%;
    height: 100%;
}
.me {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border-style: solid;
}

.descp {
    text-align: center;
    margin: 20px 0;
}

.descp h4 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    width: 1020px;
    margin: auto;
}

.logos {
    display: flex;
    width: 300px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.xd {
    border-bottom: solid;
}

.logos svg {
    display: flex;
    flex-direction: row;
    max-width: 40%;

    cursor: pointer;
    transition: .3s ease;
}

.logos svg:hover {
    transform: scale(1.15);
    box-shadow: 0px -2px 15px -4px #8AA095;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    width: 1020px;
    margin: auto;
}

.project {
    display: flex;
    width: 300px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-decoration: none;
    transition: .3s ease;
    color: green;
}

.project img {
    border-radius: 5px;
    max-width: 100%;
    
}

.overtop{
    background-color: #fff;
    
    
    opacity: .7;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overtop a {
    display: block;
    color: blue;
    padding: 5px 1px;
}

.project:hover .overtop{
    transform: translateY(-35%);
}

.overtop a:hover {
    transform: scale(1.05);
}

.project:hover {
    
    transform: scale(1.05);
}

.contact {
    text-align: center;
    margin: 40px 0;
}

.contact h4 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    width: 1023px;
    align-self: center;
    margin: auto;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 50%;
}

.contact-container ul li {
    list-style: none;
    max-width: 100%;
}

.contact-container ul {
 
}

.contact-container span {
  padding-left: 10px;
}

.contact-container a {
    color: #fff;
    display: inline-flex;
    justify-content: flex-start;
    text-decoration: none;
    padding: 0 0 0 15px;
}

.contactLogos {
    width: 10%;
    height: 10%;
}

.git {
    width: 35%;
}
.form {
    /* margin: 10px 100px; */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: auto;
    width: 50%;
}

form{
    margin: auto;
}

.input-field {
    height: 60px;
    width: 190px;
    border: 1px solid;
    border-width: 0 0 2px;
    margin: 10px 5px;
    padding: 0 10px;
    border-radius: 1px;
    outline: none;
    color: #fff;
    background-color: #001f3f;
}

.input-field::placeholder {
    color: #fff;
    text-align: center;
}

textarea.input-field {
    width: 80%;
    height: 80px;
    text-decoration: none;
}

textarea.input-field::placeholder {
    text-align: center;
}

.btn {
    display: block;
    width: 50%;
    height: 20%;
    margin: 0 85px;
    color: #fff;
    background-color: black;
}

@media (max-width: 600px) {
    .contact-box {
      flex-direction: column;
    }

    .contact-container a{
        padding: 0;
        margin: 10px 0;
    }

    .contact-container span {
        padding-left: 10px;
      }

    .input-field {
          width: 100%;
      }
    
    textarea.input-field {
        width: 100%;
    }

    .btn {
        margin: auto;
    }
}